body {
  font-family:'Helvetica', 'monospace', 'Georgia','Times New Roman','Courier','Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
    padding-right: 3rem;

  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran','Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  /* text-transform: uppercase; */
  font-weight: 800;
  font-family: 'Arial','Times New Roman','serif';
  font-style: italic;
  font-size: 1rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #BD5D38;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  /* text-transform: uppercase; */
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100vh;
    box-shadow: 9px 10px 5px rgb(198, 192, 192);
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.content-section {
  border-bottom: 2px solid rgb(198, 192, 192);
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  box-shadow: 0 9px 6px -2px rgb(198, 192, 192);
}

section.content-section .content-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.content-section {
    min-height: 100vh;
  }
  section.content-section .content-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.content-section {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

.bg-primary {
  background-color: #00a1f1 !important;
}

.text-primary {
  color: #00a1f1 !important;
}

a {
  color: rgb(104, 140, 217);
}

a:hover, a:focus, a:active {
  color: #824027;
}


.toJustify {
  text-align: justify;
}

.toLeft {
  text-align: left;
}

div img{ 
  display: inline-block;
  padding: 1px;
  margin: 20px;
}

.profiles img{
  padding: 1px;
  margin: 75px;

}
.description ul li {
  margin: 50px;

}
ul.white-space-fix li {
  margin-right: -4px;
}

b {
  color: black;
}
.b {
  font-style: bold;
}
.copy {
  font-size: 10px;
  color: rgb(207, 202, 202);
}


